# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Additions

##### Using 'or' in if statements

In [2]:
name1 = "Brian"
name2 = "Trent"
name3 = "Kirsten"
name4 = "Kevin"

In [3]:
if name1 == 'Brian' or name2 == 'Dan' or name3 == 'Jeff' or name4 == "Annie":
    print("Hey there")

Hey there

##### Using 'and' in if statements

In [23]:
if name1 == 'Brian' and name2 == 'Trent' and name3 == 'Kirsten' and name4 == "Kevin":
    print("Hey there")

Hey there

In [22]:
name1 = "Brian"

##### Using both 'or' and 'and' in if statements

T & T = T <br>
T & F = F <br>
F & T = F <br>
F & F = F <br>
T or T = T <br>
T or F = T <br>
F or T = T <br>
F or F = F

In [11]:
if (name1 == "Brian" and name2 == 'Trent') or (name3 == "QWERTY" and name4 == "ASDFGH"):
    print("This worked!")

This worked!

### String Manipulation

In [25]:
statement = "        Welcome            "
len(statement)

27

##### .lstrip()

In [26]:
statement.lstrip()

'Welcome            '

##### .rstrip()

In [28]:
statement.rstrip()

'        Welcome'

In [30]:
statement.lstrip().rstrip()

'Welcome'

##### .strip()

In [32]:
statement.strip()

'Welcome'

##### .title() - Capitalizes first letter of new words regardless of whether there's a space or special character in-between the words

In [36]:
"to kill a mockingbird".title()

'To Kill A Mockingbird'

##### .lower()

In [39]:
"TO kill A MOCKINGBIRD".lower()

'to kill a mockingbird'

##### .upper()

In [41]:
"to KILL a mockingbird".upper()

'TO KILL A MOCKINGBIRD'

##### .replace()

In [44]:
"ca.th.er .in.th.e rye".replace('.', ' ')

'ca th er  in th e rye'

##### .join()

In [47]:
new_statement = ["was", "a", "good", "book"]
" ".join(new_statement)

'was a good book'

##### .count()

In [52]:
"to kill a mockingbird".count(" ")

3

### Working With Lists

In [53]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [60]:
list1 = [11, 12, 13, 14, 15]

In [55]:
list2 = ["Hello", "Goodbye", "Greeting", "Salutations"]

In [56]:
list3 = [1, 22, "Hello", "Whatsup"]

In [69]:
list4 = [
    [1, 2, 3, 4, 5],
    [3, 4, 5, 6, 7],
    [6, 7, 8, 9, 10],
    [8, 9, [1, 2, 3, [4, 5, 6, [6, 7, 8, 2, 1]]],11, 12]
]

In [62]:
list1[0]

11

In [65]:
list2[2]

'Greeting'

In [74]:
list4[3][2][3][3][4]

1

In [75]:
from random import choice

In [77]:
help(choice)

Help on method choice in module random:

choice(seq) method of random.Random instance
    Choose a random element from a non-empty sequence.

In [99]:
# Generate a list of 10 random integers from 1-100

range_list = list(range(1,101))
new_list = []

for i in range(10):
    my_choice = choice(range_list)
    new_list.append(my_choice)

new_list

[94, 76, 43, 69, 58, 47, 74, 59, 29, 32]

##### min()

In [84]:
min(new_list)

16

##### max()

In [85]:
max(new_list)

93

##### sum()

In [87]:
sum(new_list)

558

In [89]:
from statistics import mean

In [90]:
mean(new_list)

55.8

##### .sort() - alters original list, but does not return anything

In [103]:
new_list.sort()

In [104]:
new_list

[29, 32, 43, 47, 58, 59, 69, 74, 76, 94]

In [101]:
sorted(new_list)

[29, 32, 43, 47, 58, 59, 69, 74, 76, 94]

##### Copying a List

In [105]:
new_other_list = new_list.copy()

In [106]:
new_other_list

[29, 32, 43, 47, 58, 59, 69, 74, 76, 94]

In [107]:
new_list.append(99)
new_list

[29, 32, 43, 47, 58, 59, 69, 74, 76, 94, 99]

In [108]:
new_other_list

[29, 32, 43, 47, 58, 59, 69, 74, 76, 94]

In [109]:
some_new_list = new_list

In [110]:
some_new_list

[29, 32, 43, 47, 58, 59, 69, 74, 76, 94, 99]

In [111]:
new_list.append(1)
new_list

[29, 32, 43, 47, 58, 59, 69, 74, 76, 94, 99, 1]

In [112]:
some_new_list

[29, 32, 43, 47, 58, 59, 69, 74, 76, 94, 99, 1]

In [113]:
some_new_list.append(999)
some_new_list

[29, 32, 43, 47, 58, 59, 69, 74, 76, 94, 99, 1, 999]

In [114]:
new_list

[29, 32, 43, 47, 58, 59, 69, 74, 76, 94, 99, 1, 999]

##### 'in' keyword

In [116]:
sentence = "Catcher in.the rye"

if "." in sentence:
    print("There is a '.'")

There is a '.'

In [117]:
a_list1 = [1, 2, 3, 4, 5]
if 3 in a_list1:
    print("There is a 3")

There is a 3

##### 'not in' keyword

In [118]:
a_list1 = [1, 2, 3, 4, 5]
if 10 not in a_list1:
    print("There is not a 10")

There is not a 10

##### Checking an Empty List

In [91]:
# ALL EMPTY LISTS EVALUATE TO FALSE, ALL NON-EMPTY LISTS EVALUATE TO TRUE

In [122]:
empty_list = []
if empty_list:
    print("this list is not empty")

In [124]:
if not empty_list:
    print("This list is empty")

This list is empty

In [125]:
if len(empty_list) == 0:
    print("This list is empty")

This list is empty

In [127]:
non_empty_list = [1,2,3]
if len(non_empty_list) != 0:
    print("This list is not empty")

This list is not empty

In [129]:
if len(non_empty_list) > 0:
    print("This list is not empty")

This list is not empty

In [131]:
flag = True

i = 0
while flag:
    print(i)
    i+=1
    if i == 10:
        flag = False

0
1
2
3
4
5
6
7
8
9

In [132]:
done = False

i = 0
while not done:
    print(i)
    i+=1
    if i == 10:
        done = True

0
1
2
3
4
5
6
7
8
9

##### Add items to a list

In [134]:
non_empty_list.append(98)

In [135]:
non_empty_list

[1, 2, 3, 98]

In [137]:
non_empty_list.append([2, 3, 5, 44, 1])
non_empty_list

[1, 2, 3, 98, [2, 3, 5, 44, 1]]

In [139]:
new_list.extend([23, 15, 51, 44])
new_list

[29, 32, 43, 47, 58, 59, 69, 74, 76, 94, 99, 1, 999, 23, 15, 51, 44]

In [143]:
new_other_list = new_list + ["hello", "goodbye"]
new_other_list

[29,
 32,
 43,
 47,
 58,
 59,
 69,
 74,
 76,
 94,
 99,
 1,
 999,
 23,
 15,
 51,
 44,
 'hello',
 'goodbye']

##### Remove items to a list

In [147]:
last_item = new_list.pop()
last_item

51

In [161]:
new_list.pop(-3)

999

In [162]:
new_list

[29, 32, 43, 47, 58, 59, 69, 74, 76, 94, 99, 1, 23, 15]

In [164]:
new_list.remove(47)

In [166]:
new_list.append(29)
new_list

[29, 32, 43, 58, 59, 69, 74, 76, 94, 99, 1, 23, 15, 29]

In [167]:
new_list.remove(29)

In [168]:
new_list

[32, 43, 58, 59, 69, 74, 76, 94, 99, 1, 23, 15, 29]

In [171]:
del new_list[3]
new_list

[32, 43, 58, 69, 74, 76, 94, 99, 1, 23, 15, 29]

##### Removing Instances with a Loop

In [176]:
range_list = list(range(1,4))
new_list = []

for i in range(15):
    my_choice = choice(range_list)
    new_list.append(my_choice)

new_list

[3, 3, 1, 3, 2, 3, 2, 1, 3, 1, 2, 1, 1, 3, 1]

In [175]:
for i in new_list:
    if i == 2:
        new_list.remove(2)

new_list

[3, 3, 1, 3, 3, 2, 3, 3, 1, 1, 3]

In [177]:
i = 0
while i < len(new_list):
    if new_list[i] == 2:
        new_list.remove(new_list[i])
    else:
        i +=1
new_list

[3, 3, 1, 3, 3, 1, 3, 1, 1, 1, 3, 1]

### List Slices <br>

In [187]:
list(range(1,20,4))

[1, 5, 9, 13, 17]

In [194]:
new_list[::2]

[3, 1, 3, 3, 1, 3]

In [213]:
range_list = list(range(1,100))
new_list = []

for i in range(20):
    my_choice = choice(range_list)
    new_list.append(my_choice)

print(new_list)

[91, 4, 15, 32, 71, 38, 59, 1, 9, 71, 91, 94, 79, 77, 72, 89, 68, 88, 67, 88]

In [197]:
new_list[6:12]

[39, 1, 22, 49, 44, 53]

In [212]:
del new_list[6:12]
new_list

[11, 78, 98, 65, 30, 85]

In [215]:
new_list

[91, 4, 15, 32, 71, 38, 59, 1, 9, 71, 91, 94, 79, 77, 72, 89, 68, 88, 67, 88]

In [217]:
new_list[6:12] = [14, 54]
new_list

[91, 4, 15, 32, 71, 38, 14, 54, 79, 77, 72, 89, 68, 88, 67, 88]

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

In [218]:
for i in new_list[::2]:
    print(i)

91
15
71
14
79
72
68
67

In [220]:
[i for i in new_list[::2]]

[91, 15, 71, 14, 79, 72, 68, 67]

In [222]:
[i for i in new_list]

[91, 4, 15, 32, 71, 38, 14, 54, 79, 77, 72, 89, 68, 88, 67, 88]

In [230]:
non_empty_list = []
for i in new_list:
    if i % 2 == 0:
        new_num = i**2
        non_empty_list.append(new_num)
    else:
        non_empty_list.append("NOT EVEN")
print(non_empty_list)

['NOT EVEN', 16, 'NOT EVEN', 1024, 'NOT EVEN', 1444, 196, 2916, 'NOT EVEN', 'NOT EVEN', 5184, 'NOT EVEN', 4624, 7744, 'NOT EVEN', 7744]

In [231]:
print([i**2 for i in new_list if i%2==0 if i%3==0])

[2916, 5184]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [241]:
tup1 = (14, 12, 13, 14, 15)

In [243]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [247]:
tup1.count(12)

1

In [249]:
tup1.index(15)

4

In [250]:
tup1.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [251]:
tup2 = tup1 + (1, 2, 3, 4)
tup2

(14, 12, 13, 14, 15, 1, 2, 3, 4)

In [252]:
tup1

(14, 12, 13, 14, 15)

In [253]:
del tup1

In [254]:
tup1

NameError: name 'tup1' is not defined

In [256]:
for i in (i**2 for i in tup2):
    print(i)

196
144
169
196
225
1
4
9
16

In [257]:
[(i, tup2[i]) for i in range(len(tup2))]

[(0, 14), (1, 12), (2, 13), (3, 14), (4, 15), (5, 1), (6, 2), (7, 3), (8, 4)]

In [258]:
for i in tup2:
    if i%2==0:
        print(i**2)
    else:
        print("Not printing that")

196
144
Not printing that
196
Not printing that
Not printing that
4
Not printing that
16

##### sorted()

In [260]:
sorted(tup2)

[1, 2, 3, 4, 12, 13, 14, 14, 15]

In [261]:
tup2

(14, 12, 13, 14, 15, 1, 2, 3, 4)

## Functions

##### DRY Principles

#### Don't
#### Repeat
#### Yourself

In [264]:
name1 = "Michael"
name2 = "Magic"
name3 = "Larry"

names = [name1, name2, name3]
[i for i in names]

['Michael', 'Magic', 'Larry']

In [270]:
def formatNames(a_list):
    for i in a_list:
        print(f"First name: {i}\nLast Name: Jordan\n\n")
        
formatNames(names)
formatNames(["Hello", "Goodbye", "Bonjour"])

First name: Michael
Last Name: Jordan


First name: Magic
Last Name: Jordan


First name: Larry
Last Name: Jordan


First name: Hello
Last Name: Jordan


First name: Goodbye
Last Name: Jordan


First name: Bonjour
Last Name: Jordan

In [268]:
for i in names:
    print(f"First name: {i}\nLast Name: Jordan\n\n")

First name: Michael
Last Name: Jordan


First name: Magic
Last Name: Jordan


First name: Larry
Last Name: Jordan

##### User-Defined vs. Built-In Functions

In [271]:
def doSomething():
    pass

In [272]:
print()
max()
min()
range()

TypeError: max expected 1 argument, got 0

##### Accepting Parameters

In [289]:
# parameter - placeholder data
def formatNames(a_list, s): # defining a function(parameter)
    for i in a_list:
        print(f"First name: {i}\nLast Name: Jordan\n\n")
    print(s)
        
# arguments - real data
formatNames("hello", names) # Calling/executing

First name: h
Last Name: Jordan


First name: e
Last Name: Jordan


First name: l
Last Name: Jordan


First name: l
Last Name: Jordan


First name: o
Last Name: Jordan


['Michael', 'Magic', 'Larry']

##### Default Parameters

In [291]:
def exponents(a_list, exponent=3, divisible=2):
    return [i**exponent for i in a_list if i%divisible==0]

exponents([1, 2, 3, 4, 5], 3, 2)

[8, 64]

##### Making an Argument Optional

In [294]:
def doSomething(a_list, multiplier=None):
    if multiplier is None:
        return "Nothing to see here"
    return [i*multiplier for i in a_list]
    
doSomething([1, 2, 3, 4], 2)

[2, 4, 6, 8]

##### Arguments

##### Returning Values

In [296]:
def sum_nums(a,b):
    return a+b

num1 = 10
num2 = 25
num3 = sum_nums(num1, num2)

In [297]:
num3

35

##### Docstring

In [300]:
def doSomething(a_list, multiplier=None):
    """
    This function does some things and gets stuff done
    """
    if multiplier is None:
        return "Nothing to see here"
    return [i*multiplier for i in a_list]
    
doSomething([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [301]:
help(doSomething)

Help on function doSomething in module __main__:

doSomething(a_list, multiplier=None)
    This function does some things and gets stuff done

##### Using a User Function in a Loop

In [302]:
def sum_nums(a,b):
    """
    This function takes two values, a and b, sums them together and returns the value
    """
    return a+b

In [303]:
tuple_values = [(1,2), (3, 4), (5, 6)]

In [306]:
for i in tuple_values:
    print(sum_nums(i[0], i[1]))

3
7
11

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [309]:
def heyYou1():
    stuff1 = "Hello"
    
stuff1

NameError: name 'stuff1' is not defined

In [308]:
stuff2 = "Hello"

def heyYou2():
    print(stuff2)
    
heyYou2()

Hello

# Exercises

## Exercise 1 <br>
<p>Write a function that performs a bubble sort<br><i><b>Hint: in place assignment is 'num[x], num[x+1] = num[x+1], num[x]'</b></i></p>

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

## Exercise 3 <br>
<p> Ask the user to input a number and check if that number is prime using a function, loop until they no longer want to check a number.<br><b><i>Hint: Use yesterday's prime number code</i></b></p>

## Exercise 4 <br>
<p>Ask the user to input a number of rows they'd like to build a pyramid to... then build a pyramid to that specific number of rows.<br><b><i>Hint: Use the pyramid code from yesterday and throw it into a function</i></b></p>

## Exercise 5 <br>
<p>Create a calculator using functions that asks for two numbers and performs a calculation that the user inputs... Loop until the user chooses not to perform any more calculations.<br><b><i>Hint: Take yesterday's code from the extra exercise...</i></b></p>